body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f5f5f5; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7af6df; 
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

header .logo img {
    height: 80px; 
    width: auto;
}

.social-links {
    display: flex;
}

.social-links a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 27px; 
    transition: color 0.3s; 
    padding-left: 10px;
}

.social-links a:hover {
    transform: scale(1.25); 
}

.social-links .facebook{
    color: #3b5998; 
}

.social-links .instagram{
    color: #c32aa3; 
}

.social-links .twitter{
    color: #1da1f2; 
}

.menubar {
    display: flex;
    justify-content: center;
    background-color: #000000; 
    padding: 10px;
    box-shadow: 4px rgba(0, 0, 0, 0.1); 
}

.menubar a {
    font-weight: bold;
    color: #75e3e1; 
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 15px; 
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 5px; 
}

.menubar a:hover {
    background-color: #f57d5f72; 
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 20%;
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); 
}

.sidebar h2 {
    color: #f8a48890; 
}

.sidebar p {
    color: #6c757d; 
}

/* Content styles */
.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Content styles */
.content .box {
    background-color: #c3c3c3; 
    border: 1px solid #e3e3e3; 
    padding: 15px;
    width: calc(45% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.content .box img {
    width: 500px;
    height: 300px; 
    object-fit: cover; 
    transition: transform 0.3s; 
}

.content .box:hover img {
    transform: scale(1.05); 
}


.content .box h3 {
    color: #343a40; 
}

.content .box p {
    color: #6c757d; 
}

footer {
    font-weight: bold;
    background-color: #f8a48841; 
    color: #cf5656; 
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

footer .social-links{
    padding: 0 0 0 650px;
}
